body         { color: #000000; margin:0px; font-family:Verdana; font-size:10pt; direction:ltr; background-image:url('images/Fastion_10.jpg') }
p,td         { color: #ffffff; font-family:Verdana; font-size:10pt }
input, select, textarea        {color: #000000; font-family:Verdana; font-size:9pt }
input,select {width: 200px; color: #000000 }
textarea          {width: 400px; height:100px}

.button {width:auto}

/*Daleel Links*/
a:link.daleel       { font-family: Tahoma; font-size: 10pt; color: #FFFFFF; text-decoration: none }
a:visited.daleel       { font-family: Tahoma; font-size: 10pt; color: #FFFFFF; text-decoration: none }
a:active.daleel       { font-family: Tahoma; font-size: 10pt; color: #FFFFFF; text-decoration: none }
a:hover.daleel       { font-family: Tahoma; font-size: 10pt; color: #FFFFFF; text-decoration: Underline }

/*General Links*/
a:link		{ font-family: Verdana; font-size: 10pt; color: #ffffff; text-decoration: none }
a:visited	{ font-family: Verdana; font-size: 10pt; color: #ffffff; text-decoration: none }
a:active	{ font-family: Verdana; font-size: 10pt; color: #ffffff; text-decoration: none }
a:hover		{ font-family: Verdana; font-size: 10pt; color: #FFCC00; text-decoration: Underline }

/*Menu Links*/
a:link.menu       { font-family: Verdana; font-size: 9pt; color: #FFFFFF; text-decoration: none }
a:visited.menu    { font-family: Verdana; font-size: 9pt; color: #FFFFFF; text-decoration: none }
a:active.menu     { font-family: Verdana; font-size: 9pt; color: #FFFFFF; text-decoration: none }
a:hover.menu      { font-family: Verdana; font-size: 9pt; color: #cccccc; text-decoration: none }


.newmenu{
	color: #FFFFFF;
	padding-left: 5px;
	padding-bottom: 10px;
	text-align: left;
	width: 210px;
}